{% extends "layout.html.twig" %}

{% block body %}
    <form action="" method="post">
        <label>
            <span>Новый пароль</span>
            <input type="password" name="password" placeholder="Пароль" required/>
        </label>

        <input type="submit" value="Сохранить"/>
    </form>
{% endblock body %}
