{% extends "layout.html.twig" %}

{% block body %}
    <form action="" method="post">
        <label>
            <span>Email</span>
            <input type="text" name="email" placeholder="Email"{% if user is defined %} value="{{ user.email }}"{% endif %} required />
        </label>

        <label>
            <span>Имя</span>
            <input type="text" name="name" placeholder="Имя"{% if user is defined %} value="{{ user.name }}"{% endif %} required />
        </label>

        {% if not user %}
            <label>
                <span>Пароль</span>
                <input type="password" name="password" placeholder="Пароль" required/>
            </label>
        {% endif %}

        <label>
            <span>Администратор?</span>
            <input type="checkbox" name="is_admin" value="1" {% if user is defined and user.admin %} checked{% endif %}/>
        </label>

        <input type="submit" value="Сохранить"/>
    </form>
{% endblock body %}
