{% extends "layout.html.twig" %}

{% block body %}
    <h1>Список админстраторов</h1>
    <div style="margin: 20px 0;">
        <a class="link" href="/admin/user/create">Создать админстратора</a>
    </div>
    <table class="table">
        <thead>
        <tr class="table__row">
            <th class="table__th">Логин</th>
            <th class="table__th">Имя</th>
            <th class="table__th">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td class="table__td">{{ user.email }}</td>
            <td class="table__td">{{ user.name }}</td>
            <td class="table__td">
                <a class="link" href="/admin/user/edit?id={{ user.id }}">Edit</a>
                <a class="link" href="/admin/user/delete?id={{ user.id }}" onclick="return confirm('Вы уверены, что хотите удалить этого администратора?');">Delete</a>
                <a class="link" href="/admin/user/change_password?id={{ user.id }}">Change Password</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}
