{% extends "layout.html.twig" %}

{% block body %}


    <p style="font-size:30px"><b>Форма для вопроса:</b></br>
    </p>
    <form name="question" method="post" action="">
        <p><b>Ваше имя:</b>
        <input name="username" type="text" size="20" required>
        </p>
        <p><b>Ваш e-mail:</b>
        <input name="useremail" type="text" size="20" required>
        </p>
        <p><b>Категория:</b>
            <select name="category">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p><b>Введите вопрос:</b></br>
            <textarea name="question" cols="50" rows="4" required></textarea></p>
        <p><input type="submit" value="Отправить"></p>
    </form>
{% endblock body %}
