{% extends "layout.html.twig" %}

{% block body %}
    <h1>Ответ на вопрос №{{ question.id }}</h1>
    <div>
        <span>Текст:</span>
        <span>{{ question.text }}</span>
    </div>
    <div>
        <span>Категория:</span>
        <span>{{ question.category.name }}</span>
    </div>
    <div>
        <span>Пользователь:</span>
        <span>{{ question.user.name }} ({{ question.user.email }})</span>
    </div>
    <form method="post" action="">
        <label>
            <span>Ответ:</span>
            <textarea name="answer"></textarea>
        </label>
        <div>
            <input type="submit" value="Ответить">
        </div>
    </form>
{% endblock body %}
