{% extends "layout.html.twig" %}

{% block body %}
    <h1>Изменение категории для вопроса №{{ question.id }}</h1>
    <div>
        <span>Текст:</span>
        <span>{{ question.text }}</span>
    </div>
    <div>
        <span>Пользователь:</span>
        <span>{{ question.user.name }} ({{ question.user.email }})</span>
    </div>
    <div>
        <span>Ответ:</span>
        <span>{{ question.answer }}</span>
    </div>
    <form method="post" action="">
        <label>
            <span>Категория:</span>
            <select name="category">
                {% for category in categories %}
                    <option value="{{ category.id }}"{% if question.category.id == category.id %} selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </label>
        <div>
            <input type="submit" value="Изменить">
        </div>
    </form>
{% endblock body %}
