{% extends "layout.html.twig" %}

{% block body %}
    <form action="" method="post">
        <label>
            <span>Вопрос</span>
            <input type="text" name="text" placeholder="Вопрос" value="{{ question.text }}" required />
        </label>
        <br/>
        <label>
            <span>Ответ</span>
            <input type="text" name="answer" placeholder="Ответ" value="{{ question.answer }}" required />
        </label>
        <br/>
        <label>
            <span>Пользователь</span>
            <select name="user">
                {% for user in users %}
                    <option value="{{ user.id }}"{% if user.id == question.user.id %} selected{% endif %}>{{ user.name }} ({{ user.email }})</option>
                {% endfor %}
            </select>
        </label>
        <br/>
        <label>
            <span>Категория</span>
            <select name="category">
                {% for category in categories %}
                    <option value="{{ category.id }}"{% if category.id == question.category.id %} selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </label>
        <br/>
        <input type="submit" value="Сохранить"/>
    </form>
{% endblock body %}
