{% extends "layout.html.twig" %}

{% block body %}
    <h1>Список вопросов</h1>
    <table class="table">
        <thead>
        <tr class="table__row">
            <th class="table__th">Текст</th>
            <th class="table__th">Ответ</th>
            <th class="table__th">Категория</th>
            <th class="table__th">Пользователь</th>
            <th class="table__th">Статус</th>
            <th class="table__th">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td class="table__td">{{ question.text }}</td>
                <td class="table__td">{{ question.answer }}</td>
                <td class="table__td">{{ question.category.name }}</td>
                <td class="table__td">{{ question.user.name }} ({{ question.user.email }})</td>
                <td class="table__td">{{ question.statusName }}</td>
                <td class="table__td">
                    {% if not question.answer %}
                        <a class="link" href="/admin/question/answer?id={{ question.id }}">Ответить</a>
                    {% endif %}
                    {% if question.status == constant('App\\Entity\\Question::STATUS_PUBLISHED') %}
                        <a class="link" href="/admin/question/hide?id={{ question.id }}">Скрыть</a>
                    {% endif %}
                    {% if question.status == constant('App\\Entity\\Question::STATUS_HIDDEN') %}
                        <a class="link" href="/admin/question/publish?id={{ question.id }}">Опубликовать</a>
                    {% endif %}
                    <a class="link" href="/admin/question/edit?id={{ question.id }}">Редактировать</a>
                    <a class="link" href="/admin/question/change_category?id={{ question.id }}">Изменить категорию</a>
                    <a class="link" href="/admin/question/delete?id={{ question.id }}" onclick="return confirm('Вы уверены, что хотите удалить этот вопрос?');">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}
