{% extends "layout.html.twig" %}

{% block body %}
    <h1>Список вопросов</h1>
    <table class="table">
        <tr>
            <th class="table__th">Вопрос</th>
            <th class="table__th">Ответ</th>
            <th class="table__th">Категория</th>
            <th class="table__th">Пользователь</th>
            <th class="table__th">Дата публикации</th>
        </tr>
        {% for question in questions %}
            <tr>
                <td class="table__td">{{ question.text }}</td>
                <td class="table__td">{{ question.answer }}</td>
                <td class="table__td">{{ question.category.name }}</td>
                <td class="table__td">{{ question.user.name }} ({{ question.user.email }})</td>
                <td class="table__td">{{ question.created_at | date('d.m.Y H:i')}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}
