<div class="menu">
    <div class="menu__elem">
        <a class="menu__link" href="/">Главная</a>
    </div>
    <div class="menu__elem">
        <a class="menu__link" href="/question/create">Задать вопрос</a>
    </div>
    {% if app_user is not defined %}
        <div class="menu__elem">
            <a class="menu__link" href="/admin">Вход</a>
        </div>
    {% endif %}
    {% if app_user is defined %}
        <div class="menu__elem">
            <a class="menu__link" href="/admin/logout">Выйти</a>
        </div>
    {% endif %}
</div>

{% if app_user is defined %}
    <div class="menu">
        <div class="menu__elem">
            <a class="menu__link" href="/admin/user/list">Администраторы</a>
        </div>
        <div class="menu__elem">
            <a class="menu__link" href="/admin/category/list">Категории</a>
        </div>
        <div class="menu__elem">
            <a class="menu__link" href="/admin/question/list">Вопросы</a>
        </div>
    </div>
{% endif %}