{% extends 'layout.html.twig' %}

{% block body %}
    {{ message }}
    <form method="post" action="">
        <input type="text" name="login" required="required" placeholder="Email"/>
        <input type="password" name="password" required="required" placeholder="Пароль"/>
        <input type="submit" value="Войти"/>
    </form>
{% endblock body %}