{% extends "layout.html.twig" %}

{% block body %}
    <form action="" method="post">
        <label>
            <span>Название</span>
            <input type="text" name="name" placeholder="Имя"{% if category is defined %} value="{{ category.name }}"{% endif %} required />
        </label>

        <input type="submit" value="Сохранить"/>
    </form>
{% endblock body %}
