{% extends "layout.html.twig" %}

{% block body %}
    <h1>Список категорий</h1>
    <div style="margin: 20px 0;">
        <a class="link" href="/admin/category/create">Создать категорию</a>
    </div>
    <table class="table">
        <thead>
        <tr class="table__row">
            <th class="table__th">Название</th>
            <th class="table__th">Активных / В ожидании / Скрытых</th>
            <th class="table__th">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td class="table__td">
                    <a class="link" href="/admin/question/list?category_id={{ category.id }}">{{ category.name }}</a>
                </td>
                <td class="table__td">{{ category.countActiveQuestions }} / {{ category.countWaitingQuestions }} / {{ category.countHiddenQuestions }}</td>
                <td class="table__td">
                    <a class="link" href="/admin/question/delete?id={{ category.id }}" onclick="return confirm('Вы уверены, что хотите удалить эту категорию со всеми вопросами?');">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}
