<!DOCTYPE html>
<html>
<head>
    <title>{{ title|default('Дипломная работа') }}</title>
</head>
<body>
{% block menu %}
    {% include 'index/menu.html.twig' %}
{% endblock menu %}

{% block body %}{% endblock body %}

{% block stylesheet %}
    <style>
        .menu {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-flow: row nowrap;
            padding: 0 0 20px 0;
        }

        .menu__elem {
            margin: 0 15px 0 0;
        }

        .menu__link {
            color: #dd453d;
        }

        .menu__link:hover {
            text-decoration: none;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            text-align: left;
        }

        .table__td {
            padding: 3px 5px;
            border: 1px solid #ececec;
        }

        .table__th {
            padding: 3px 5px;
            border: 1px solid #ececec;
        }

        .link {
            color: #dd453d;
            cursor: pointer;
        }

        .link:hover {
            text-decoration: none;
        }
    </style>
{% endblock stylesheet %}
</body>
</html>


